<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/graph.css">
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>

<!--<div class="w3-top w3-card-4 w3-teal w3-center flexbox bars">-->
    <!--<h1>RAVESTATE</h1>-->
<!--</div>-->

 <script type="text/javascript" src="scripts/graph.js"></script>

<div id="chart"></div>
<!--<div class="w3-bottom w3-card-4 w3-teal flex-container bars">-->
    <!--<div>-->
        <!--<svg width="50" height="50">-->
            <!--<circle cx="25" cy="25" r="20" fill="#bbff99"/>-->
        <!--</svg>-->
    <!--</div>-->

    <!--<div>-->
        <!--<h5>Dialog state</h5>-->
    <!--</div>-->

    <!--<div>-->
        <!--<svg width="50" height="50">-->
            <!--<circle cx="25" cy="25" r="20" fill="#b3ecff"/>-->
        <!--</svg>-->
    <!--</div>-->

    <!--<div>-->
        <!--<h5>Property</h5>-->
    <!--</div>-->

    <!--<div>-->
        <!--<svg width="50" height="50">-->
            <!--<circle cx="25" cy="25" r="20" fill="#ffb3b3"/>-->
        <!--</svg>-->
    <!--</div>-->

    <!--<div>-->
        <!--<h5>Signal</h5>-->
    <!--</div>-->


    <!--<div>-->
    <!--</div>-->

<!--</div>-->

</body>
</html>
