$header-height: 50px;

.root-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 3fr minmax(250px, 1fr);
  grid-template-rows: $header-height 1fr;
  grid-template-areas: "header header" "main side";
}

@media only screen and (max-width: 768px) {
  .root-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main" "side";
  }
}

.header {
  grid-area: header;
  line-height: $header-height;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background: #222222;
    padding: 10px;
    border-radius: 0 0 15px 0;
    line-height: 20px;
  }
}

.main {
  grid-area: main;
  background: #373237;
  overflow: hidden;
}

.graph-area {
  display: block;
  width: 100%;
  height: 100%;
}

.side {
  grid-area: side;
  padding: 5px;
  border-top: 5px solid #373237;
  overflow-y: auto;
}

.side2 {
  grid-area: side2;
  padding: 5px;
  border-top: 5px solid #373237;
  border-right: 5px solid #373237;
  overflow-y: auto;
}
