.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.notifies {
  stroke-dasharray: 0,2 1;
}

.link.triggers {
  stroke-dasharray: 0,2 1;
}

.link.sets {
  stroke-dasharray: 0,2 1;
}

.signal {
  fill: #ffb3b3;
  stroke: #333;
  stroke-width: 1.5px;
}

.state {
  fill: #bbff99;
  stroke: #333;
  stroke-width: 1.5px;
}

.activestate {
    fill: #ffffff;
    stroke: #333;
    stroke-width: 16px;
}

.prop {
fill: #b3ecff;
stroke: #333;
stroke-width: 1.5px;
}

text {
  font: 14px sans-serif;
  pointer-events: none;
  text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
  white-space: pre-line;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  overflow-y: scroll;
  overflow-x: scroll;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
}

.bars {
  position: relative;
  margin: 0;
  padding: 0;
}
