$min-button-size: 32px;

button {
  color: white;
  background: #222;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 1px;
  min-height: $min-button-size;
  min-width: $min-button-size;
}

button:hover {
  background: #333;
  border: 1px solid white;
}

button:active {
  background: #444;
}

button:disabled {
  background: #222;
  border: 1px solid #444;
  color: gray;
}

button.round {
  max-height: $min-button-size;
  max-width: $min-button-size;
  text-align: center;
}

h3:first-child {
  margin: 7px 0;
}
h3 {
  margin: 15px 0 7px 0;
}

input[type=text] {
  color: white;
  background: #222;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 1px;
  min-height: $min-button-size;
  min-width: $min-button-size;
}
