$state-node-bg: darkgreen;
$signal-node-bg: darkblue;
$property-node-bg: darkred;

.state-node {
  fill: $state-node-bg;
  stroke: lightgreen;
  stroke-width: 1px;
}
.state-node:hover {
  stroke-width: 3px;
  fill: lighten($state-node-bg, 10%);
}

.signal-node {
  fill: $signal-node-bg;
  stroke: deepskyblue;
  stroke-width: 1px;
}
.signal-node:hover {
  stroke-width: 3px;
  fill: lighten($signal-node-bg, 10%);
}

.property-node {
  fill: $property-node-bg;
  stroke: lightcoral;
  stroke-width: 1px;
}
.property-node:hover {
  stroke-width: 3px;
  fill: lighten($property-node-bg, 10%);
}

.node-label {
  fill: white;
  font-size: 15px;
  pointer-events: none;
}