@import "../../shared-styles";

:host {
  position: relative;
}

svg {
  width: 1px;
  height: 1px;
  top: 50%;
  overflow: visible;
  position: relative;
}

.controls {
  position: absolute;
  top: 5px;
  left: 0;
  padding: 10px;
  background: #222;
  border-radius: 0 0 30px 0;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  .controls {
    display: none;
  }
}

.controls-mobile {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: none;
}

@media only screen and (max-width: 768px) {
  .controls-mobile {
    display: flex;
    flex-direction: column;
  }
}

.percentage-label {
  font-size: 12px;
  width: 50px;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

.separator {
  display: inline-block;
  padding: 0 10px;
}

g {
  transition: opacity 0.5s;
}

.margin-b {
  margin-bottom: 15px;
}
