.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.notifies {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.signal {
  fill: red;
  stroke: #333;
  stroke-width: 1.5px;
}

.state {
  fill: purple;
  stroke: #333;
  stroke-width: 1.5px;
}

.prop {
fill: white;
stroke: #333;
stroke-width: 1.5px;
}

text {
  font: 14px sans-serif;
  pointer-events: none;
  text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}
